attrs==23.2.0
blinker==1.8.2
certifi==2024.7.4
charset-normalizer==3.3.2
click==8.1.7
contourpy==1.1.1
cycler==0.12.1
Flask==3.0.3
flatbuffers==24.3.25
fonttools==4.53.0
fsspec==2024.6.1
idna==3.7
itsdangerous==2.2.0
kiwisolver==1.4.5
MarkupSafe==2.1.5
mediapipe==0.10.18
networkx==3.1
numpy==1.24.4
packaging==24.1
pandas==2.0.3
protobuf==4.25.5
pycparser==2.22
pyparsing==3.1.2
pytz==2024.1
requests==2.32.3
six==1.16.0
urllib3==2.2.2
Werkzeug==3.0.3
zipp==3.19.2
Jinja2==3.1.4